@import "../../scss/cssProperties/transform";
@import "../../scss/cssProperties/mixin";
@import "../../scss/cssProperties/position";
@import "../../scss/cssProperties/animation";
$front: translateZ(1em);
$top: rotateX(90deg) translateZ(1em);
$right: rotateY(90deg) translateZ(1em);
$left: rotateY(-90deg) translateZ(1em);
$bottom: rotateX(-90deg) translateZ(1em);
$back: rotateY(-180deg) translateZ(1em);
$perspective-side-transform:(side1:$front, side2:$bottom, side3:$left, side4:$right, side5:$top, side6:$back);
.perspective {
    @include position(absolute, 50%, 50%, 50%, 50%, 1);
    @include transform3D(800px, center, ".transform", rotateX(-45deg) rotateY(30deg)) {
        @include animation(perspectiveY, 3s, linear, 0s, infinite, normal, none, running);
        &>div {
            @include square(2em);
            border: 1px solid black;
            position: absolute;
            background-color: rgba($color: black, $alpha: 0.15);
            @for $var from 1 through 6 {
                &:nth-child(#{$var}) {
                    transform: map-get($map: $perspective-side-transform, $key: side#{$var});
                }
            }
        }
    }
}

@keyframes perspectiveY {
    0% {
        transform: rotateX(0deg) rotateY(30deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(30deg);
    }
}